* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Side Menu*/
.menu {
  float: left;
  width: 19%;
  text-align: center;
  margin: 0.5%;
}

.menu a {
  text-decoration: none;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}


/*Styling the cards*/
div.card {
  width: 250px;
  height: 12em;
  margin: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Styling the Card on the menu Container */
div.card .avatar .header{
  background-color: #444;
  margin: 0.6em;
}

div.menu a div.header {
  background-color: #009999;
  color: white;
  padding: 10px;
  font-size: 40px;
}

/*Styling the profile card in the Main Container */
div.menu a div.content {
  padding: 15px;
  line-height: 1.5em;
  color: #444;
}
div.menu a div.content p{
  font-size: 0.8em;
}

div.menu a div.card{
  height: 18em;
}

/*Styling the menu list anchors*/
.center {
  display: flex;
  /* Default direction = row  */
  flex-direction: row;   
  
  /* Horizontal Centering */
  justify-content: center;
  
  /* Vertical Centering */
  align-items: center;     
}
.box {
  height: 3em; 
  width: 17em;
  background: #2e6371;
  color: #fff;
}
/*Styling the menu anchors for on hover effect*/
a .center:hover{
  background-color: #6666FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2), 0 6px 6px 0 rgba(0, 0, 255, 0.19);
  border-bottom: 2px solid black;
}

/*Styling the Navigation */
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 40px;
  text-align: left;
    width: 130px;
    border-bottom: none;
    height: 50px;
    display: inline-block;
    margin-right: -4px;
  }
  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
    z-index: 1;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
    border-bottom: 1px solid #cfd3d4;
  }
  
  /* Sub menu indicators */
  .sub > a::after {
    content: '\0025B8';
    margin-left: 3px;
  }
  .sub > a:hover::after {
    content: '\0025BE';
  }

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.3em;
  border-bottom: none;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: 0.8em;
}

/*Main Middle Container*/
/*Main Menu*/
.main{
  float: left;
  width: 80%;
}

.main a{
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

div.main .card div.header {
  background-color: #444;
  color: white;
  padding: 10px;
  font-size: 30px;
}

/*Styling the profile card in the Main Container */
div.main .card div.content {
  padding: 15px;
  line-height: 1.5em;
  color: #444;
}
div.main .card div.content p{
  font-size: 0.8em;
}

div.main .card{
  width: 10%;
  float: left;
}



/*Styling the button*/
.btn{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 0.7em 1em;
  margin: 0.4em 0;
  border: none;
  border-radius: 0.4em;
  cursor: pointer; width: 100%;
  padding: 0.2em 0.4em;
  margin: 0.5em 0 0.5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 0.8em;
}


/*Contact Us Styling*/
#contact {
width: 90%;
margin:1em auto;
background:white;
position: relative;
background-color: #edfafc;
border-radius: 0.5em;
border: 1px solid #006699;
}
#contact::after {
content: "";
display: block;
height: 30px;
width: 90%;
left: 5%;
bottom: 0;
position: absolute;
-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
border-radius: 100%;
z-index: -1;
}
#contact article {
  padding: 1em;
}
#contact h1 {
background: #006699;
font-family: Oswald ,sans-serif;
font-size: 1.75em;
padding: 0.6em 0 0.6em 0.4em;
color: white;
text-shadow: 0 0.06em 0 #424242;
position: relative;
border-top-right-radius: 0.3em;
border-top-left-radius: 0.3em;
}
.contactbutton {
background: #006699;
-webkit-box-shadow: 1px 1px 0 0 #c2f4ff,2px 2px 0 0 #c2f4ff,3px 3px 0 0 #c2f4ff;
box-shadow: 1px 1px 0 0 #c2f4ff,2px 2px 0 0 #c2f4ff,3px 3px 0 0 #c2f4ff;
text-align: center;
display: block;
width: 100%;
height: 50px;
margin-top: 20px;
margin-bottom: 2px;
cursor: pointer;
}
.contactbutton:hover {
-webkit-box-shadow: 1px 1px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff;
box-shadow: 1px 1px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff;
margin-top: 22px;
margin-left: 2px;
margin-bottom: 0px;
}
.mail {
margin-top: 11px;
font-size: 15px;
display: inline-block;
border-top: 2em solid transparent;
border-left: 2.6em solid #c2f4ff;
height: 0;
width: 0;
position: relative;
}
.mail:before {
content: '';
top: -2.5em;
left: -2.95em;
display: block;
position: absolute;
border-top: 1.2em solid #c2f4ff;
border-left: 1.6em solid transparent;
border-right: 1.6em solid transparent;
border-bottom: 1em solid transparent;
font-size: 0.8em;
}
.mail::after {
display: block;
content: "";
position: absolute;
border-top: 2em solid transparent;
border-right: 2.6em solid #c2f4ff;
height: 0;
width: 0;
left: -2.18em;
bottom: 0;
}
#checkcontact{
position: absolute;
left: -9999px;
}
.contactform {
overflow: hidden;
max-height: 0px;
-webkit-transition: all linear 1s;
-moz-transition: all linear 1s;
-o-transition: all linear 1s;
-ms-transition: all linear 1s;
transition: all linear 1s;
}
#checkcontact:checked + .contactform {
max-height: 1000px;
}
.input_wrapper {
position: relative;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.input_wrapper input[type="text"] {
margin-top: 1em;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
text-indent: 15%;
}
.input_wrapper input[type="text"]:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
text-indent: 0;
}
.input_wrapper label {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #006699;
color: white;
font-family: Oswald ,sans-serif;
box-sizing: border-box;
width: 15%;
text-align: center;
line-height: 2.8em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.input_wrapper input[type="text"]:focus + label {
left: 85%;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
  min-height:150px;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.textarea_wrapper textarea:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
}
.submit_wrapper {
text-align: center;
}
.submit_wrapper input {
text-align: center;
display: inline-block;
width: 40%;
height: 50px;
margin-top: 1em;
margin-bottom: 6px;
cursor: pointer;
background: #006699;
color: white;
font-family: Oswald ,sans-serif;
font-size: 1em;
border: none;
-webkit-box-shadow: 1px 1px 0 0 #c2f4ff,2px 2px 0 0 #c2f4ff,3px 3px 0 0 #c2f4ff;
box-shadow: 1px 1px 0 0 #c2f4ff,2px 2px 0 0 #c2f4ff,3px 3px 0 0 #c2f4ff;
-webkit-appearance: none;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.submit_wrapper input:hover {
-webkit-box-shadow: 1px 1px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff;
box-shadow: 1px 1px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff,0px 0px 0 0 #c2f4ff;
margin-top: 22px;
margin-left: 2px;
margin-bottom: 0px;
}


.myfoot{
  background-color: #444;
  text-align:center;
  padding:10px;
  margin-top:7px;
}

.container{
  text-align: center;
}

.container h4{
  margin: 1em 0 1em 0;
  color: #444;
}


@media only screen and (max-width: 1100px){
  div.main .card{
    width: 20%;
    margin: 2%;
  }

  .menu {
    float: left;
    width: 28%;
    text-align: center;
    margin: 0.5%;
  }

  .main{
    float: left;
    width: 70%;
  }

}

@media only screen and (max-width: 990px){
  .menu, .main, .nav li,.menu a .card, .menu a .center {
    width: 96%;
    margin: 1% 2% 1% 2%;
  }
  div.main .card{
    width: 28%;
    margin: 2%;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .menu, .main, .nav li,.menu a .card, .menu a .center, #contact {
    width: 96%;
    margin: 1% 2% 1% 2%;
  }
  div.main .card{
    width: 28%;
    margin: 2%;
  }

  .input_wrapper label {
    line-height: 3.5em;
    font-size: 0.8em;
    }

  .nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: 0.8em;
}

.menu{
    justify-content: space-around;
    align-items: stretch;
  }

}